@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
	background: #260B12;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}
.logo-centered {
	padding: 40px;
}
.logo{
	height: 300px;
	width: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.wrapper {
    padding-right: 0px;
    padding-left: 0px;
}
.spoiler-container{
	margin-bottom: 0px;
}
.spoiler-container .panel {
    border-radius: 0px;
    border: 0px solid transparent;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.05);
    box-shadow: 0 0 0 rgba(0,0,0,.05);
}
.spoiler-container .panel-default {
    border: 0px solid transparent;
    margin-bottom: -5px;
}
.spoiler-container .panel-heading {
    border-radius: 0px;
    height: 50px;
    padding: 15px 0px;
}
.spoiler-container .panel-body {
    padding: 0px;
    border: 0px solid transparent;
    border-top-color: transparent;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 0px solid transparent;
}
.spoiler-index .panel-heading {
    background-color: #F2B11E;
    color: #181A4B;
}
.spoiler-history .panel-heading {
    background-color: #2F004B;
    color: #F4B127;
}
.spoiler-chocofactory .panel-heading {
    background-color: #F4D35F;
    color: #3E004B;
}
.spoiler-bank .panel-heading {
    background-color: #FA1653;
    color: #3E004B;
}
.spoiler-support .panel-heading {
    background-color: #0072BB;
    color: #BE6580;
}
.spoiler-index-user {
	background-color: #F5DF89;
}
.spoiler-index-user {
    background-color: #F5DF89;
    height: 100px;
}
.spoiler-index-register {
    background-color: #F3D45F;
    height: 100px;
}
.spoiler-index-user p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}
.spoiler-index-register p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}