body{
	background: #260B12;
}

.container{ 
  background-color: rgba(38,11,18,0.5); 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

#logo{
	background-image: url("../img/logoc.png");
	background-position: center;
	background-size: 300px auto;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding-top: 50px;
	margin-top: 0;
	height: 300px;
	width: 300px;
	z-index: 11;
}

#inicio{
	background-color: #F2B11E;
	height: 54px;
	line-height: 54px;
	position: static;
	margin: 0 auto;
	position: static;
	font-family: 'Montserrat', arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #181A4B;
	font-size: 30px;
}

#que{
	background-color:#FB676A;
	color: #171948;
	height: 54px;
	line-height: 54px;
	position: static;
	font-family: 'Montserrat', arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

#historia{
	background-color:#2F004B;
	color: #F4B100;
	height: 54px;
	line-height: 54px;
	position: static;
	font-family: 'Montserrat', arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

#fabrica{
	background-color:#FDF31B ;
	color: #3E004B;
	height: 54px;
	line-height: 54px;
	position: static;
	font-family: 'Montserrat', arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

#banco{
	background-color:#FA1653;
	color: #FFF;
	height: 54px;
	line-height: 54px;
	position: static;
	font-family: 'Montserrat', arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

#soporte{
	background-color: #0072BB;
	color: #FF444B;
	height: 54px;
	line-height: 54px;
	position: static;
	font-family: 'Montserrat', arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}