@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    font-family: "Montserrat", sans-serif;

    color: #000;
    background: #260b12;
}
.logo-centered {
    padding: 40px;
}
.logo {
    position: relative;
    left: 50%;

    width: 300px;
    height: 300px;

    transform: translateX(-50%);
}
.wrapper {
    padding-right: 0;
    padding-left: 0;
}
.spoiler-container {
    margin-bottom: 0;
}
.spoiler-container .panel {
    border: 0 solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.05);
            box-shadow: 0 0 0 rgba(0,0,0,.05);
}
.spoiler-container .panel-default {
    margin-bottom: -5px;

    border: 0 solid transparent;
}
.spoiler-container .panel-heading {
    height: 50px;
    padding: 15px 0;

    border-radius: 0;
}
.spoiler-container .panel-body {
    padding: 0;

    border: 0 solid transparent;
    border-top-color: transparent;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0 solid transparent;
}
.spoiler-index .panel-heading {
    color: #181a4b;
    background-color: #f2b11e;
}
.spoiler-history .panel-heading {
    color: #f4b127;
    background-color: #2f004b;
}
.spoiler-chocofactory .panel-heading {
    color: #3e004b;
    background-color: #f4d35f;
}
.spoiler-bank .panel-heading {
    color: #3e004b;
    background-color: #fa1653;
}
.spoiler-support .panel-heading {
    color: #be6580;
    background-color: #0072bb;
}
.spoiler-index-user {
    background-color: #f5df89;
}
.spoiler-index-user {
    height: 100px;

    background-color: #f5df89;
}
.spoiler-index-register {
    height: 100px;

    background-color: #f3d45f;
}
.spoiler-index-user p {
    position: relative;
    top: 50%;

    font-size: 2em;

    transform: translateY(-50%);
}
.spoiler-index-register p {
    position: relative;
    top: 50%;

    font-size: 2em;

    transform: translateY(-50%);
}

/* idiomas  *************************************/

#idiomas {
    position: relative;
    right: 100px;
    left: 0;
}
.idioma {
    display: inline-block;
    margin: 0 5px;
}
.idioma img {
    display: inline-block;
    height: 17px;
    margin: -1px 0 0 0;

    vertical-align: middle;
}
#barra  #idiomas {
    position: absolute;
    top: 58px;
    right: 9px;

    display: none;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #151515;

     -khtml-border-radius: 3px;
}
#idiomas .idioma {
    position: relative;
    z-index: 2;
}
#idiomas .idioma img:hover {
    border: solid 1px #fff;
}
/*cerro idiomas **********************************/
